@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 99%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 82 79% 48%;
    --primary-foreground: 222 47% 11%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 222 47% 11%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 256 75% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 256 75% 58%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 20% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 20% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 20% 98%;
    --primary: 82 79% 51%;
    --primary-foreground: 222 47% 11%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 82 79% 51%;
    --muted: 215 28% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 256 90% 67%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    --success: 158 81% 30%;
    --success-foreground: 210 20% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 82 79% 51%;
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
